/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.l-main-container {
    padding: 5px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.l-main-image-container {
    height: auto;
    padding: 15px;
    border-radius: 15px;
    border: solid rgb(236, 236, 236) 1px;
}

.l-product-detail-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:100%;
    overflow:hidden;
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
}

.l-product-name {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 25px;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
}

.l-product-price {
    font-size: 16px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    font-weight: 500;
    color: rgb(42, 42, 42);
    letter-spacing: 1px;
    
}

.l-product-label {
    color: brown;
    font-weight: 500;
}

.l-product-label-2 {
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-size: 15px;
}

.l-price {
    font-weight: 500;
    color: rgb(0, 155, 202);
}

.l-product-info-table {
    padding: 2vw;
}

.l-product-info-table-item {
    padding: 1vw;
    padding-top: 1.5vw;
    border-bottom: solid rgb(207, 207, 207) 1px;
}

.l-company-div {
    width: 30vw;
    border: solid rgb(235, 235, 235) 1px;
    border-radius: 10px;
    margin: auto;
}

.l-company-detail-icon {
    max-width: 150px;
}

.l-company-location {
    color: rgb(128, 128, 128);
}

.checked {
    color: orange;
}

.l-company-phone-div {
    margin: 10px;
    padding: 15px;
    background: rgb(235, 235, 235);
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    color: rgb(3, 101, 126);
}

.l-company-phone-no {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.fa-phone-volume {
    font-size: 25px;
}

.l-contact-seller {
    padding: 15px;
    width: 90%;
    margin: 10px;
}

.l-section-2 {
    margin-top: 20px;
}

.l-crimson-title {
    font-size: 25px;
    padding: 5px;
    margin-left: 30px;
    font-weight: 600;
    border-bottom: solid crimson 3px;
}

.l-contact-seller-2 {
    padding: 15px;
    width: 100%;
    margin: 10px;
    margin: auto;
}

.l-buy-btn {
    padding: 15px;
    width: 95%;
    margin: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.l-sticky-div {
    padding: 15px;
}

.sticky {
    padding: 10px;
    margin: auto;
    border: solid rgb(197, 197, 197) 1px;
}

.l-sticky-title {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    background: rgb(60, 0, 255);
    color: white;
}

.l-inquiry-form-control {
    margin: 20px;
    font-size: 14px;
}

.l-submit-inquiry {
    width: 100%;
    margin: 15px;
}

.l-email-seller {
    border-top: solid black 3px;
}

.l-iframe {
    margin: auto;
    width: 100%;
    height: 40vw;
}

.l-main-image-div {
    padding: 20px;
}

.l-main-image {
    margin-top: 20px;
}

.l-make-deal-div {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.l-product-detail-title {
    font-size: 25px;
    color: crimson;
    margin-bottom: 20px;
}

.l-product-modal-title {
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
}

.l-product-modal-label {
    color: gray;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 400;
}

#map {
    display: block;
    height: 400px;
}

#map-2 {
    display: block;
    height: 400px;
}

@media screen and (max-width:767px) {
    .l-company-div {
        width: 80vw;
    }
}